<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>About Myself</title>

	<link rel="stylesheet" type="text/css" href="website.css">

</head>

<body>

	<div id="wrapper">

	<h1> About Myself </h1>

		<nav>
			<ul id="nav-items">
				<li><a href="home.html"> Home </a></li>
				<li><a href="about.html"> About </a></li>
				<li><a href="contact.html"> Contact</a></li>
			</ul>
		</nav>

	</div>



	<div id="left">
	<h2>
	Putting personal info online <br>
	is not safe. Stay safe.
	</h2>
	For more information about why, read below:<br>
	Stolen identity is the worst situation and if that should ever happen to you then it might take you years, time and money to get rid of the sometimes devastating consequences of it. Furthermore false information might stay in records you don’t even know about the rest of your life!

Fraud by withdrawing money from your bank account could be made look like some kind of purchase you did – even if you didn’t – and the money has been send to some account on some far away island in another country. With your name, bank account number, social security number and address on the purchase this is a tough situation for you to make disappear.

There are many other dishonest ways to misuse your personal information. Do not underestimate Scam-artist’s creativity level. They can and will do things you don’t even dream about in your worst nightmare, that is if you let them get the opportunity.

Disclosed personal information could haunt you years later in situations you now don’t anticipate.
	</div>
	<div id="right">
	<h2>
	What you can do is look at other people's pages.
	<ul>
		<a href="http://en.wikipedia.org/wiki/George_Washington"
		target="_blank">George Washington</a>
	<ul>
	<a href="http://en.wikipedia.org/wiki/Derek_Jeter"
		target="_blank">Derek Jeter</a>
	</div>
</body>

</html>
