<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Contact Me</title>

	<link rel="stylesheet" type="text/css" href="website.css">

</head>

<body>

	<div id="wrapper">


	<h1> Contact Me </h1>

		<nav>
			<ul id="nav-items">
				<li><a href="home.html"> Home </a></li>
				<li><a href="about.html"> About </a></li>
				<li><a href="contact.html"> Contact </a></li>
			</ul>
		</nav>

	</div>

	<div id="main">

	Contact me at johnsmith123@someemail.com

	</div>

</body>

</html>
